<!-- <h1>Pages#score</h1>
<p>Find me in app/views/pages/score.html.erb</p> -->
<p>Your score is <%= @result[:score].round(2) %></p>
<p>Your time is <%= @result[:time].round(2) %></p>
<p>Your message is <%= @result[:message] %></p>
